body{
    background-image: url("./images/floral1.1.jpg");
    background-size: cover;
}

img {
    max-width: 100%;
}

.hero{
  position: relative;  /* for abs children */
  margin: 0;
  padding: 0;
  background-size: cover;
    clear: both;
}

.hero::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
h1{
    font-family: Lobster, cursive;
    font-size: 200px;
}

.title{
 content: '';
  display: block;
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 300px;
  right: 0;
    color: #E8ECEF;
}

.image-container{
    max-height: 300px;
    width: auto;
}
