{% extends 'bloom/base.html' %}

{% block content %}
<div class="user-input">
    <h2>What do you have to rent?</h2>

    <form method="post" action="{% url 'bloom:create' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>Item</td>
            <td><input type="text" name="item"/></td>
        </tr>
        <tr>
            <td>Price $</td>
            <td><input type="text" name="price"></td>
        </tr>
{#             <tr>#}
{#            <td>Image</td>#}
{#            <td><input type="url" name="image"></td>#}
{#        </tr>#}
        </table>

        <input class="button" type="submit" value="Add Item">
    </form>
</div>

    <h2><a href={% url 'bloom:index'%}>View all of your items</a></h2>
{#    <h2><a href={% url 'bloom:user-equipment<pk>'%}>View items to rent</a></h2>#}


{% endblock content %}
