{% extends 'bloom/base.html' %}
{##}
{##}
{#{% if equipment %}#}
{#        <ul class="list-group">#}
            {# Loop over the equipment list and get each contest #}
{#            {% for renter in equipment %}#}
                {# We can build a url with the name of our path using the url template tag #}
{#                <li class="list-group-item"><a href="{% url 'bloom:user-equipment' contest.id %}">{{ contest.title }}</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>This user does not have any equipment to rent.</p>#}
{#    {% endif %}#}